/*Color Template*/
.color-primary{
    color:$color-primary;
}
.color--bg{
    background:$color-primary;
}
.color-second{
    color:$color-second;
}
.color-second-bg{
    background:$color-second;
}
.color-grey{
    color:$color-grey;
}
.color-grey-bg{
    background:$color-grey;
}