/*Here in this file we are going to put all the css variables we are going to use*/
$font-carme: "Carme", cursive;
$font-dosis: "Dosis", cursive;
$font-raleway: "Raleway", cursive;
$color-primary:#003859;
$color-second:#00A5C4;
$color-grey:#d1d1d1;
